<div class="callout callout--primary">
    <div class="grid grid--1O2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to Get Started</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque voluptate dicta eos fugiat adipisci, alias natus numquam fuga explicabo a, reiciendis ipsam commodi dolores laboriosam! In sit delectus cum.</p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
    </div>
    </div>