<section class="block container block-domain">
    <header class="">
        <h3>The best webhosting Starting at per month</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fuga inventore corporis deleniti, perferendis commodi sint amet exercitationem. Officiis, eius?</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Enter domain name here...">
        <button class="btn btn--accent">
            <img class="icon icon--white" src="images/search.svg" alt="">
            Search</button>
    </div>
    <ul class="list block-domain__price">
        <li><span class="badge badge--secondary">.com $9.27</span></li>
        <li>.com $9.27</li>
        <li>.com $9.27</li>
        <li>.com $9.27</li>
        <li>.com $9.27</li>
        <li>.com $9.27</li>
    </ul>
</section>