<section class="block__header">
    <h2>Host on the cloud</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, tempore?</p>
</section>
<section class="features">
<article class="grid grid--1O2 feature">
        <div class=" container  feature__content">
            <img class="icon" src="images/chart.svg" alt="">
            <h3 class="features__heading">super easy to use</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit eum rem id. A repellendus laudantium nostrum aliquid aliquam quam placeat voluptates iste consequatur modi. Cupiditate possimus perferendis ut molestiae assumenda!</p>
            <a href="#" class="link-arrow">learn more</a>
        </div>
        <div class="features__image">
            <img src="images/chart.jpg" alt="">
        </div>
</article>

<article class="grid grid--1O2 feature">
    <div class=" container  feature__content">
        <img class="icon" src="images/chart.svg" alt="">
        <h3 class="features__heading">super easy to use</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit eum rem id. A repellendus laudantium nostrum aliquid aliquam quam placeat voluptates iste consequatur modi. Cupiditate possimus perferendis ut molestiae assumenda!</p>
        <a href="#" class="link-arrow">learn more</a>
    </div>
    <div class="features__image">
        <img src="images/chart.jpg" alt="">
    </div>
</article>

</section>