<footer>
    <div class="block block--dark footer">
        <div class="grid grid--1O6">
            <section class="collapsible footer__section">
                <header class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__heading">Item1</h2>
                        <embed class="icon collapsible__chevron" src="./images/down-arrow.svg" />
                </header>
                <div class="collapsible__content">
                    <ul class="list">
                        <li><a href="#">web hosting</a></li>
                        <li><a href="#">web hosting</a></li>
                        <li><a href="#">web hosting</a></li>
                    </ul>
                </div>
            </section>
            <section class="collapsible footer__section">
                <header class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__heading">Item1</h2>
                        <embed class="icon collapsible__chevron" src="./images/down-arrow.svg" />
                </header>
                <div class="collapsible__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, sed.
                </div>
            </section>
            <section class="collapsible footer__section">
                <header class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__heading">Item1</h2>
                        <embed class="icon collapsible__chevron" src="./images/down-arrow.svg" />
                </header>
                <div class="collapsible__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, sed.
                </div>
            </section>
            <section class="footer__brand">
                <img class="icon" src="images/logo.svg" alt="">
                <p class="footer__copyright">Lorem ipsum dolor sit amet.</p>
            </section>
        </div>
        <script src="js/main.js"></script>
    </div>
</footer>
