<div class="card testimonial">
    <div class="grid grid--1O2">
        <div class="testimonial__image">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#Computer-598"></use>
                </svg>
            </span>
            <img  src="images/profile.jpg" alt="a photo of customer">
        </div>
        <div>
            <blockquote class="quote">
                <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sint quia reprehenderit debitis et omnis minima sit optio, quos eligendi?</p>
                <footer>
                    <body>
                        <div class="media">
                            <div class="media__image">
                                <svg class="icon icon--primary">
                                    <use xlink:href="images/sprite.svg#Computer-598"></use>
                                </svg>
                                </div>
                            <div class="media__body">
                                <h3 class="media__title quote__author">John smith</h3>
                                <p class="quote__organization">ABC Company</p>
                            </div>
                        </div>
                </footer>
            </blockquote>
        </div>
    </div>
</div>